<main>
    <article>
        <h1>{{ name }}</h1>
        <div class="info">
            {{ description }}
        </div>
        <figure>
            <img src="/assets/images/{{ image }}" alt="{{ name }}">
            <figcaption>{{ name }}</figcaption>
        </figure>
    </article>
    <hr>
    <a href="/dinosaurs">Back to all dinosaurs</a>
</main>
{{> footer}}