<!-- partial integreren -->
{{> navigation }}


<article>
    <h2>Welcome to handlebars, {{ firstname }}!</h2>

    <blockquote>
        {{{ motto }}} <!-- hier wordt HTML geëscaped -->
    </blockquote>

    <!-- manier 1 -->
    <p>I would like you to meet my brother: {{ person.firstname }}
    {{ person.lastname }}</p>

    <!-- manier 2, met een block helper #with -->
    <!-- context -->
    {{#with partner}}
        <p>I love my wife: {{ firstname }} {{ lastname }}</p>
    {{/with}}
</article>
<article class="dinos">
    <h2>I have dinos as best friends</h2>
    <ul>
        {{#each friends}}
            <li>
                {{#if name}}
                    <h3>{{ name }}</h3>
                {{/if}}
                <p>Age: {{ age }}</p>
                <img src="{{ image }}" alt="{{ name }}">
            </li>
        {{/each}}
    </ul>
</article>
